@tailwind base;
@tailwind components;
@tailwind utilities;

[type="text"] {
  padding: 16.5px 14px;
}

[type="text"]:focus {
  border: 0;
  box-shadow: none;
}

[type="password"] {
  padding: 16.5px 14px;
}

[type="password"]:focus {
  border: 0;
  box-shadow: none;
}

.filepond--wrapper {
  width: 100%;
}

.filepond--credits {
  display: none;
}

textarea:focus {
  border: 0;
  border-width: 0;
  box-shadow: none;
}
